.title {
    font-size: 50px;
}

.body {
    margin-left: 100px;
    /* width: 80%; */
}


.mainTitle {

    font-size: 65px;
    margin-top: 120px;
    color: #549c99;
    /* margin-bottom: 15px; */

}

.subLargeTitle {
    margin-top: 10%;
    font-size: 30px;
    /* text-decoration: underline; */
    /* color: #FF8A65; */
}

.showHide {
    /* margin-top: %; */
    font-size: 18px;
    /* text-decoration: underline; */
    /* color: #FF8A65; */
    display: inline;
    color: gray;
    padding-left: 5px;
    font-weight: 600;
    text-decoration: underline;

    
}

.sideBar {
    background-color: red;
    width: 30%;
    display: inline;
}

.number, .year {
    font-size: 75px;
    color: #549c99;
    /* color: #9c5454; */

    display: inline-block;
    height: 50px;
    margin-top: -10px;
}

.year {
    font-size: 75px;
    /* color: #549c99; */

    display: inline-block;
    height: 50px;
    margin-top: -10px;
}


.numberContext, .yearContext {
    display: inline;
    color: rgb(51, 90, 88);

}
.yearContext {
    
}
.para, .paraColor {
    /* line-height: 40px; */
    /* margin-top: 4rem; */
    font-size: 20px;
    width: 50%;

}

.paraColor {
    font-weight: bolder;
    color: rgb(51, 90, 88);
    

}

.paraColorFinal {

    padding-top: 30px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(31, 31, 31);
    width: 80%;
    

}

.next {

    background: none;
    cursor: pointer;
    padding-top: 50px;

    display: inline-block;
  
    font-size: 1.4rem;

    color: black;
    /* font-weight: bold; */
    text-decoration: underline;
}

.viewButton {

    margin-top: 50px;
    background: none;
    cursor: pointer;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  
    color: white;

    display: inline-block;
  
    font-size: 1rem;
    border: none;
    width: 18rem;
    background: #549c99;
    background-size: 400% 400%;
    color: white;
    font-weight: bold;

    margin-top: 150px;
  
  }

    /**
  PAGE
  */

  .graphDiv {
    background-color: red;
    position: relative; height:20vh; width:10vw
}