body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    /* padding: 5px 5px 5px; */
    /* max-width: 1000px; */
    margin: 0 auto;
  }

  img {
    pointer-events: none;
    /* padding-top: 100px; */
  }